{{#resume.basics}}
<section class="resume-section" id="about">
	<div class="resume-section-content">
		<h1 class="mb-0">
			{{name}}
		</h1>
		<h3 class="mb-0">
			{{label}}
		</h3>
		<div class="subheading mb-5">
			{{!-- 
			{{#location}}{{address}} · {{postalcode}} {{city}}{{/location}} · {{phone}} ·
			<a href="mailto:{{email}}">{{email}}</a>
			--}}
		</div>
		<p class="lead mb-5">{{{summary}}}</p>
		<div class="social-icons">
			{{#each profiles}}
            	{{> social}}
        	{{/each}}
		</div>
	</div>
</section>
{{/resume.basics}}
