{{#if resume.awards.length}}
<ul class="fa-ul mb-0">
	{{#each resume.awards}}
	<li>
		<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
		<a title="Awarded by {{awarder}}{{#if date}} ({{formatDate date}}){{/if}}">{{title}}</a>
	</li>
	{{/each}}
</ul>
{{/if}}