{{#if resume.certificates.length}}
<ul class="fa-ul mb-0">
	{{#each resume.certificates}}
	<li>
		<span class="fa-li"><i class="fas fa-award" style="color: green"></i></span>
		<a title="Issued by {{issuer}}{{#if date}} ({{formatDate date}}){{/if}}">{{name}}</a>
	</li>
	{{/each}}
</ul>
{{/if}}