{{#if resume.basics.formspree}}
<section class="resume-section" id="contact">
    <div class="resume-section-content">
        <h2 class="mb-5">Get in Touch</h2>
        <div class="flex-grow-1">
                <form action="https://formspree.io/f/{{resume.basics.formspree}}" method="POST">
                <input type="hidden" name="_subject" value="A message was submitted from your resume website" />
                <input type="email" name="sender" placeholder="Your email" required>
                <br>
                <br>
                <textarea name="message" placeholder="Type your message" required style="width: 70%; min-height: 8em"></textarea>
                <br>
                <br>
                <button type="submit" class="btn">Send</button>
            </form>
        </div>
    </div>
    </div>
</section>
{{/if}}