{{#each resume.education}}
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
	<div class="flex-grow-1">
		<h3 class="mb-0">{{institution}}</h3>
		<div class="subheading mb-3">{{studyType}} {{area}}</div>
		{{#if courses.length}}
        <ul style="columns: 2">
            {{#each courses}}
            <li>{{.}}</li>
            {{/each}}
        </ul>
        {{/if}}
		{{#if gpa}}<p>GPA: {{gpa}}</p>{{/if}}
	</div>
	{{#if startDate}}
		<div class="flex-shrink-0">
			<span class="text-primary">{{formatDate startDate}} - {{#if endDate}}{{formatDate endDate}}{{else}}Present{{/if}}
			</span>
		</div>
	{{/if}}
</div>
{{/each}}