{{#if resume.interests.length}}
<ul class="fa-ul mb-0" style="columns: 2">
{{#each resume.interests}}
	{{!-- {{#if name}}<div class="subheading mb-3">{{name}}</div>{{/if}} --}}
		<li>
			<span class="fa-li"><i class="fas fa-thumbs-up tertiary"></i></span>
			{{name}}
		</li>
{{/each}}
</ul>
{{/if}}
