{{#if resume.languages.length}}
	<div class="subheading mb-3">Languages</div>
        <ul class="fa-ul mb-0" style="columns: 2">
            {{#each resume.languages}}
                <li>
					<span class="fa-li"><i class="fas fa-check" style="color: green"></i></span>
					<b>{{language}}</b> {{#if fluency}}<em>({{fluency}})</em>{{/if}}
                </li>
            {{/each}}
        </ul>
		<br>
{{/if}}