{{#if resume.projects.length}}
<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Projects</h2>
        {{#each resume.projects}}
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0"><a href="{{url}}">{{name}}</a></h3>
                    <div class="subheading mb-2">{{#each keywords}}<span style="margin: 0.3em">{{.}}</span>{{/each}}</div>
                    <p>{{{description}}}</p>
                    {{#if highlights.length}}
                    <ul>
                        {{#each highlights}}
                        <li>{{.}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </div>
                {{#if endDate}}
                    <div class="flex-shrink-0">
                        <span class="text-primary">{{#if startDate}}{{formatDate startDate}} - {{/if}}{{formatDate endDate}}
                        </span>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>
</section>
<hr class="m-0" />
{{/if}}