{{#each resume.skills}}
	{{#if name}}<div class="subheading mb-3">{{name}}</div>{{/if}}
	{{#if keywords.length}}
		<ul class="fa-ul mb-0" style="columns: 2">
				{{#each keywords}}
					<li>
						<span class="fa-li"><i class="fas fa-check" style="color: green"></i></span>
						{{.}}
					</li>
				{{/each}}
		</ul>
	{{/if}}
	<br>
{{/each}}