{{#each resume.work}}
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
	<div class="flex-grow-1">
		<h3 class="mb-0">{{position}}</h3>
		<div class="subheading mb-3"><a href="{{website}}">{{name}}</a></div>
		<p>{{summary}}</p>
		{{#if highlights.length}}
		<ul>
			{{#each highlights}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{#if startDate}}
		<div class="flex-shrink-0">
			<span class="text-primary">{{formatDate startDate}} - {{#if endDate}}{{formatDate endDate}}{{else}}Present{{/if}}
			</span>
		</div>
	{{/if}}
</div>
{{/each}}